{% extends "template.html" %}
{% block conteudo %}
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('index_Reembolso_Adiantamento') }}">Reembolso/Adiantamento</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Editar</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="{{ url_for('atualiza_reemb_adian') }}" method="post">
                                    <fieldset>
                                        <input type="hidden" name="id" value="{{reg_insert.id}}">
                                        <a href="{{ url_for('index_Reembolso_Adiantamento') }}" data-placement="top" title="Modo Lista" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-list" style="margin: 0 3px;"></i>Modo Lista</a>
                                        <button type="submit" title="Gravar alterações" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-save"></i> Gravar</button>
                                        <a target="_blank" href="{{ url_for('rel_reemb_adian', id = reg_insert.id ) }}" data-placement="top" title="Imprimir atendimento" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-print" style="margin: 0 3px;"></i>Imprimir atendimento</a>
                                        <!--<button type="button" title="Enviar e-mail com o atendimento" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-envelope"></i> E-mail</button>-->
                                        <button class="btn waves-effect waves-light btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="font-weight: bold;">
                                            <i class="fas fa-more_horiz"> Ações</i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Enviar para Aprovação</a></li>
                                            <li><a class="dropdown-item" href="#">Aprovar</a></li>
                                            <li><a class="dropdown-item" href="#">Finalizar</a></li>
                                        </ul>                                       
                                        <br>
                                        <br>
                                        <div class="d-md-flex align-items-center"><form novalidate="" class="ng-pristine ng-invalid ng-touched"><!----></form><div class="ml-auto"><div class="dl"><strong class="text-danger"> *</strong> Campos obrigatórios </div></div></div>
                                        <hr>
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="basic-form">
                                                        <div class="row">
                                                            <div class="form-group col-md-2">
                                                                <label for="atendimento_codigo">Código</label>
                                                                <input type="text" id="atendimento_codigo" name="atendimento_codigo" class="form-control" disabled value="{{reg_insert.id}}">
                                                            </div>
                                                            <div class="form-group col-md-2">
                                                                <label>Status</label>
                                                                <strong class="text-danger ng-star-inserted"> *</strong>
                                                                <input type="text" id="atendimento_status" name="atendimento_status" class="form-control" disabled value="{{reg_insert.status}}">
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                <label>Cliente</label>
                                                                <strong class="text-danger ng-star-inserted"> *</strong>
                                                                <select id="atendimento_cliente" name="atendimento_cliente" class="form-control">
                                                                    {% for cliente in lista_clientes %}
                                                                    <option value="{{ cliente.id}}" {% if reg_insert.cliente == cliente.id %}selected{% endif %}>{{ cliente.nome_fantasia }}</option>
                                                                    {% endfor %}
                                                                  </select>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                <label>Motivo</label>
                                                                <strong class="text-danger ng-star-inserted"> *</strong>
                                                                <select class="form-control" id="sel1" name="atendimento_motivo">
                                                                    <option value="selected" selected disabled hidden>{{reg_insert.motivo}}</option>
                                                                    <option>-----------</option>
                                                                    <option>Consultoria</option>
                                                                    <option>Suporte</option>
                                                                    <option>Desenvolvimento</option>
                                                                    <option>Visita Comercial</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                        </div>
                                                        <div class="row"></div>
                                                            <div class="row align-items-center">
                                                                <div class="form-group col-md-4">
                                                                    <label>Data Atendimento</label>
                                                                    <strong class="text-danger ng-star-inserted"> *</strong>
                                                                    <input type="date" class="form-control ng-pristine ng-valid ng-touched" name="atendimento_dt_atendimento" style="text-align: center;" value="{{reg_insert.dt_atendimento}}">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label>Atendente</label>
                                                                    <strong class="text-danger ng-star-inserted"> *</strong>
                                                                    <select class="form-control" id="sel1" name="atendimento_atendente">
                                                                        <option value="{{reg_insert.atendente}}" selected disabled hidden>{{reg_insert.atendente}}</option>
                                                                        {% for atendente in atendentes %}
                                                                          <option value="{{ atendente.nome }}" {% if atendente.id == atendente.nome %}selected{% endif %}>{{ atendente.nome }}</option>
                                                                        {% endfor %}
                                                                      </select>
                                                                      
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <ul class="nav nav-pills mb-3">
                                                            <li class="nav-item"><a href="#navpills-2" class="nav-link {% if navpills == 'navpills_2' %} active {% endif%}" data-toggle="tab" aria-expanded="true">Resumo do Atendimento</a>
                                                            </li>
                                                            <li class="nav-item"><a href="#navpills-4" class="nav-link {% if navpills == 'navpills_4' %} active {% endif%}" data-toggle="tab" aria-expanded="true">Despesas</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content br-n pn">
                                                            <div id="navpills-2" class="tab-pane {% if navpills == 'navpills_2' %} active {% endif%}">
                                                                <div class="row align-items-center">
                                                                    <div class="col-sm-6 col-md-8 col-xl-10">
                                                                    </div>
                                                                </div>
                                                                <textarea class="form-control" id="val-suggestions" name="atendimento_discriminacao" rows="10" maxlength=2000>{{reg_insert.descr_atendimento}}</textarea>
                                                            </div>
                                                            <div id="navpills-4" class="tab-pane {% if navpills == 'navpills_4' %} active {% endif%}">
                                                                <div class="row align-items-center">
                                                                    <div class="col-sm-6 col-md-8 col-xl-10">
                                                                        <button type="button" title="Inserir Despesas" 
                                                                                class="btn waves-effect waves-light btn-sm btn-info" data-toggle="modal" 
                                                                                data-target="#modal_edita_atendimento_inserir_despesas" style="font-weight: bold;">
                                                                                <i class="fa fa-plus"></i> 
                                                                                Inserir Despesas
                                                                            </button>
                                                                            <!-- Modal -->
                                                                            <div class="modal fade" id="modal_edita_atendimento_inserir_despesas">
                                                                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h4 id="modal-basic-title" class="modal-title">Detalhe da Despesa no Atendimento</h4>
                                                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <form action="{{ url_for('criar_despesas') }}" method="post" class="ng-pristine ng-invalid ng-touched">
                                                                                            <fieldset>    
                                                                                                <div class="row">
                                                                                                    <input type="hidden" name="id_lancamento" value="{{ reg_insert.id }}">
                                                                                                    <div class="form-group col-md-4">
                                                                                                        <label class="control-label" style="font-weight: bold;">Data</label>
                                                                                                        <strong class="text-danger ng-star-inserted"> *</strong>
                                                                                                        <input type="date" class="form-control ng-untouched ng-pristine ng-invalid" 
                                                                                                        style="text-align: center;" name="dt_despesa">
                                                                                                    </div>
                                                                                                    <div class="col-sm-9">
                                                                                                        <label class="control-label" style="font-weight: bold;">Tipo</label>
                                                                                                        <strong class="text-danger"> *</strong>
                                                                                                        <select appnexttab="" formcontrolname="idLancamento" class="form-control ng-pristine ng-valid ng-touched" name="tipo">
                                                                                                            <option class="ng-star-inserted"> Adiantamento </option>
                                                                                                            <option class="ng-star-inserted"> Almoco </option>
                                                                                                            <option class="ng-star-inserted"> Aluguel De Carro </option>
                                                                                                            <option class="ng-star-inserted"> Cafe da manha </option>
                                                                                                            <option class="ng-star-inserted"> Cafe da tarde </option>
                                                                                                            <option class="ng-star-inserted"> Combustivel </option>
                                                                                                            <option class="ng-star-inserted"> Estacionamento </option>
                                                                                                            <option class="ng-star-inserted"> Hospedagem </option>
                                                                                                            <option class="ng-star-inserted"> Jantar </option>
                                                                                                            <option class="ng-star-inserted"> Km Carro </option>
                                                                                                            <option class="ng-star-inserted"> Laboratorio </option>
                                                                                                            <option class="ng-star-inserted"> Outros </option>
                                                                                                            <option class="ng-star-inserted"> Passagem Aviao </option>
                                                                                                            <option class="ng-star-inserted"> Passagem Metro/Trem</option>
                                                                                                            <option class="ng-star-inserted"> Passagem Onibus </option>
                                                                                                            <option class="ng-star-inserted"> Pedagios </option>
                                                                                                            <option class="ng-star-inserted"> Uber/Taxi </option>
                                                                                                            <!---->
                                                                                                        </select>
                                                                                                        <!---->
                                                                                                    </div>
                                                                                                    <div class="col-sm-3">
                                                                                                        <label class="control-label" style="font-weight: bold;">Quantidade</label>
                                                                                                        <strong class="text-danger"> *</strong>
                                                                                                        <input appnexttab="" apponlydecimal="" formcontrolname="qtde"
                                                                                                            type="float" class="form-control ng-untouched ng-pristine ng-invalid" 
                                                                                                            style="text-align: right;" name="quantidade">
                                                                                                        <!---->
                                                                                                    </div>
                                                                                                </div><br>
                                                                                                <div class="row">
                                                                                                    <div class="col-sm-6"><label class="control-label" style="font-weight: bold;">Valor da Despesa</label>
                                                                                                        <input
                                                                                                            appnexttab="" apponlydecimal="" formcontrolname="valor" type="float"
                                                                                                            class="form-control ng-untouched ng-pristine ng-valid" style="text-align: right;" name="valor_despesa"></div>
                                                                                                    <div class="col-sm-6"><label class="control-label" style="font-weight: bold;">Total</label><input readonly=""
                                                                                                            apponlydecimal="" tabindex="32000" formcontrolname="total" type="text"
                                                                                                            class="form-control ng-untouched ng-pristine ng-valid" style="text-align: right;" name="valor_total"></div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col-sm-12">
                                                                                                        <label class="control-label" style="font-weight: bold;">Observações</label>
                                                                                                        <textarea class="form-control" id="val-suggestions" name="observacao" rows="5" maxlength=2000></textarea>          
                                                                                                    </div>
                                                                                                </div>
                                                                                                <br>
                                                                                                <strong class="text-danger"> *</strong> Campos obrigatórios
                                                                                                <br><br>
                                                                                                <div>
                                                                                                    <button type="submit" class="btn waves-effect waves-light btn-sm btn-success" style="font-weight: bold;">
                                                                                                        <i class="fa fa-save"></i> Gravar
                                                                                                    </button>
                                                                                                </div>
                                                                                            </fieldset>    
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!---->
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="table-responsive">
                                                                    <table id="tabelaDespesas" class="table table-hover table-striped table-bordered display" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align: center;">Data</th>
                                                                                <th style="text-align: center;">Tipo</th>
                                                                                <th style="text-align: center;">Qtde</th>
                                                                                <th style="text-align: center;">Valor</th>
                                                                                <th style="text-align: center;">Total</th>
                                                                                <th style="text-align: center;">Observação</th>
                                                                                <th style="text-align: center;" class="ng-star-inserted">Ações</th>
                                                                                <!----></tr>
                                                                            </thead>
                                                                            <tbody class="ng-star-inserted">
                                                                                {% for despesa in despesas %}
                                                                                <tr class="ng-star-inserted">
                                                                                    <td style="text-align: center;" width="10%">{{despesa.dt_despesa.strftime('%d/%m/%Y')}}</td>
                                                                                    <td style="text-align: center;" width="10%">{{despesa.tipo}}</td>
                                                                                    <td style="text-align: center;" width="5%">{{despesa.quantidade}}</td>
                                                                                    <td style="text-align: center;" width="10%">{{"R$ {:,.2f}".format(despesa.valor_despesa)}}</td>
                                                                                    <td style="text-align: center;" width="10%">{{"R$ {:,.2f}".format(despesa.valor_total)}}</td>
                                                                                    <td style="text-align: center;" width="30%">{{despesa.observacao}}</td>
                                                                                    <td style="text-align: center;" class="ng-star-inserted" width="5%">
                                                                                        <div class="btn-group" style="align-items: center;">
                                                                                            <a href="{{ url_for('editar_despesa', id=despesa.id, id_lancamento = despesa.id_lancamento) }}" data-placement="top" title="Editar linha"><i class="fa fa-edit text-primary m-r-10" style="margin: 0 3px;"></i></a>
                                                                                            <a  href="{{ url_for('upload_despesa', id=despesa.id, id_lancamento = despesa.id_lancamento) }}" data-placement="top" title="Anexar Comprovante de Despesa"><i class="fa fa fa-upload text-primary" style="margin: 0 8px;"></i></a>
                                                                                            <a  href="{{ url_for('deletar_despesa', id=despesa.id, id_lancamento = despesa.id_lancamento) }}" data-placement="top" title="Excluir linha"><i class="fa fa fa-minus text-danger" style="margin: 0 8px;"></i></a>
                                                                                            {% if despesa.anexo == 'N' %}
                                                                                            <div class="alert alert-warning" role="alert">
                                                                                                <i class="fa fa-exclamation-triangle fa-lg fa-fw"></i>
                                                                                                Anexe um comprovante!
                                                                                            </div>
                                                                                            {% endif %}
                                                                                            {% if despesa.anexo == 'S' %}
                                                                                            <a  href="{{url_for('exibir_comprovante', id_lancamento = despesa.id_lancamento, nome_arquivo = despesa.nome_arquivo) }}" data-placement="top" title="Exibir Comprovante"><i class="fa fa fa-image text-primary" style="margin: 0 8px"></i></a>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </td><!---->
                                                                                </tr><!---->
                                                                                <!-- Modal upload file -->
                                                                                <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
                                                                                    <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                        <h5 class="modal-title" id="fileModalLabel">Anexar arquivos</h5>
                                                                                        <a href="{{ url_for('edita_reemb_adian', reg_insert=reg_insert.id, navpills = 'navpills_4')}}">
                                                                                            <i class="fa fa-times" arial-hdden="true"></i>
                                                                                        </a>
                                                                                        </button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                        {% if despesa_edit_upload != undefined %}
                                                                                        <form action="{{ url_for('upload_despesa', id=despesa_edit_upload.id, id_lancamento = despesa.id_lancamento)}}" method="post" enctype="multipart/form-data">
                                                                                        {% endif %}
                                                                                        {% if despesa_edit_upload == undefined %}
                                                                                        <form>
                                                                                        {% endif %}
                                                                                            <div class="form-group">
                                                                                            <label for="fileInput">Selecione o arquivo para anexar</label>
                                                                                            <input type="file" name="file" class="form-control-file" id="file">
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                                                <button type="submit" class="btn btn-primary">Anexar</button>
                                                                                            </div>
                                                                                        </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- Fim Modal upload file -->
                                                                                <!--Modal de exibição do comprovante de despesa-->
                                                                                <div class="modal fade" id="Modal-exibir-comprovante" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
                                                                                    <div class="modal-dialog" role="document">
                                                                                        <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h5 class="modal-title" id="fileModalLabel">Arquivo</h5>
                                                                                            <a href="{{ url_for('edita_reemb_adian', reg_insert=reg_insert.id, navpills = 'navpills_4')}}">
                                                                                                <i class="fa fa-times" arial-hdden="true"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <iframe src="/static/uploads/{{despesa_exibir_comprovante if despesa_exibir_comprovante != undefined else ''}}" frameborder="0" width="100%" height="500"></iframe>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <a href="{{ url_for('edita_reemb_adian', reg_insert=reg_insert.id, navpills = 'navpills_4')}}" class="btn btn-secondary">
                                                                                                Fechar
                                                                                            </a>
                                                                                        </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--Fim Modal de exibição do comprovante de despesa-->
                                                                                {% endfor %}
                                                                            </tbody><!---->
                                                                            <tfoot class="ng-star-inserted">
                                                                                <tr>
                                                                                    <td style="text-align: left; font-weight: bold;" width="10%">Total</td>
                                                                                    <td style="text-align: right;" width="5%"></td>
                                                                                    <td style="text-align: right;" width="5%"></td>
                                                                                    <td style="text-align: right;" width="5%"></td>
                                                                                    <td style="text-align: center; font-weight: bold;" width="10%">{{"R$ {:,.2f}".format(despesas_total)}}</td>
                                                                                    <td style="text-align: center;" class="ng-star-inserted" width="5%"></td>
                                                                                    <!---->
                                                                                </tr>
                                                                            </tfoot><!----><!---->
                                                                        </thead>     
                                                                    </table>
                                                                </div>
                                                            </div>                                                            
                                                            <!-- Modal Despesas (edição) -->
                                                            <div class="modal fade" id="modal_edita_atendimento_inserir_despesas_1">
                                                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 id="modal-basic-title" class="modal-title">Detalhe da Despesa no Atendimento</h4>
                                                                            <a href="{{ url_for('edita_reemb_adian', reg_insert=reg_insert.id, navpills = 'navpills_4')}}">
                                                                                <i class="fa fa-times" arial-hdden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form action="{{ url_for('atualizar_despesa') }}" method="post" class="ng-pristine ng-invalid ng-touched">
                                                                                <div class="row">
                                                                                    <input type="hidden" name="id" value="{{ despesa_edit.id if despesa_edit != undefined else ''}}">
                                                                                    <div class="form-group col-md-4">
                                                                                        <label class="control-label" style="font-weight: bold;">Data</label>
                                                                                        <strong class="text-danger ng-star-inserted"> *</strong>
                                                                                        <input type="date" class="form-control ng-untouched ng-pristine ng-invalid" 
                                                                                        style="text-align: center;" name="dt_despesa" value="{{ despesa_edit.dt_despesa if despesa_edit != undefined else ''}}">
                                                                                    </div>
                                                                                    <div class="col-sm-9">
                                                                                        <label class="control-label" style="font-weight: bold;">Tipo</label>
                                                                                        <strong class="text-danger"> *</strong>
                                                                                        <select appnexttab="" formcontrolname="idLancamento" class="form-control ng-pristine ng-valid ng-touched" name="tipo">
                                                                                            <option value="selected" selected disabled hidden>{{despesa_edit.tipo if despesa_edit != undefined else ''}}</option>
                                                                                            <option class="ng-star-inserted"> Adiantamento </option>
                                                                                            <option class="ng-star-inserted"> Almoco </option>
                                                                                            <option class="ng-star-inserted"> Aluguel De Carro </option>
                                                                                            <option class="ng-star-inserted"> Cafe da manha </option>
                                                                                            <option class="ng-star-inserted"> Cafe da tarde </option>
                                                                                            <option class="ng-star-inserted"> Combustivel </option>
                                                                                            <option class="ng-star-inserted"> Estacionamento </option>
                                                                                            <option class="ng-star-inserted"> Hospedagem </option>
                                                                                            <option class="ng-star-inserted"> Jantar </option>
                                                                                            <option class="ng-star-inserted"> Km Carro </option>
                                                                                            <option class="ng-star-inserted"> Laboratorio </option>
                                                                                            <option class="ng-star-inserted"> Outros </option>
                                                                                            <option class="ng-star-inserted"> Passagem Aviao </option>
                                                                                            <option class="ng-star-inserted"> Passagem Metro/Trem</option>
                                                                                            <option class="ng-star-inserted"> Passagem Onibus </option>
                                                                                            <option class="ng-star-inserted"> Pedagios </option>
                                                                                            <option class="ng-star-inserted"> Uber/Taxi </option>
                                                                                            <!---->
                                                                                        </select>
                                                                                        <!---->
                                                                                    </div>
                                                                                    <div class="col-sm-3">
                                                                                        <label class="control-label" style="font-weight: bold;">Quantidade</label>
                                                                                        <strong class="text-danger"> *</strong>
                                                                                        <input appnexttab="" apponlydecimal="" formcontrolname="qtde"
                                                                                            type="number" class="form-control ng-untouched ng-pristine ng-invalid" 
                                                                                            style="text-align: right;" name="quantidade" value="{{despesa_edit.quantidade if despesa_edit != undefined else ''}}">
                                                                                        <!---->
                                                                                    </div>
                                                                                </div><br>
                                                                                <div class="row">
                                                                                    <div class="col-sm-6"><label class="control-label" style="font-weight: bold;">Valor da Despesa</label><input
                                                                                            appnexttab="" apponlydecimal="" formcontrolname="valor" type="float"
                                                                                            class="form-control ng-untouched ng-pristine ng-valid" style="text-align: right;" name="valor_despesa"
                                                                                            value="{{despesa_edit.valor_despesa if despesa_edit != undefined else ''}}"></div>
                                                                                    <div class="col-sm-6"><label class="control-label" style="font-weight: bold;">Total</label><input readonly=""
                                                                                            apponlydecimal="" tabindex="32000" formcontrolname="total" type="text"
                                                                                            class="form-control ng-untouched ng-pristine ng-valid" style="text-align: right;" name="valor_total"
                                                                                            value="{{despesa_edit.valor_total if despesa_edit != undefined else ''}}"></div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <label class="control-label" style="font-weight: bold;">Observações</label>
                                                                                        <textarea class="form-control" id="val-suggestions" name="observacao" rows="1" maxlength=2000>{{despesa_edit.observacao if despesa_edit != undefined else ''}}</textarea>          
                                                                                    </div>
                                                                                </div>
                                                                                <br>
                                                                                <strong class="text-danger"> *</strong> Campos obrigatórios
                                                                                <br><br>
                                                                                <div>
                                                                                    <button type="submit" class="btn waves-effect waves-light btn-sm btn-success" style="font-weight: bold;">
                                                                                        <i class="fa fa-save"></i> Gravar
                                                                                    </button>
                                                                                </div>  
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


{% endblock %}


