{% extends "template.html" %}
{% block conteudo %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Reembolso/Adiantamento</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Reembolso/Adiantamento</h4>
                                <a href="{{url_for('novo_reemb_adian')}}"><button type="button" title="Inserir novo registro" class="btn waves-effect waves-light btn-info" style="font-weight: bold;"><i class="fa fa-plus"></i> Inserir</button></a>
                                <div class="table-responsive">
                                    <table id="example" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Cliente</th>
                                                <th>Motivo</th>
                                                <th>Data de Atendimento</th>
                                                <th>Atendente</th>
                                                <th>Status</th>
                                                <th>R$ Adiantamento</th>
                                                <th>R$ Despesas</th>
                                                <th>R$ Saldo</th>
                                                <th style="text-align: center" scope="col">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for reg in atendimentos_lis %}
                                            <tr>
                                                <td>{{reg.id}}</td>
                                                <td>{{reg.nome_fantasia}}</td>
                                                <td>{{reg.descricao_motivo}}</td>
                                                <td>{{reg.dt_atendimento.strftime('%d/%m/%Y')}}</td>
                                                <td>{{reg.nome_atendente}}</td>
                                                <td>{{reg.status}}</td>
                                                <td>{{"R$ {:,.2f}".format(0.00)}}</td>
                                                <td>{{"R$ {:,.2f}".format(reg.valor_total if reg.valor_total != None else 0)}}</td>
                                                <td>{{"R$ {:,.2f}".format(reg.valor_total if reg.valor_total != None else 0)}}</td>
                                                <td style="text-align: center"><span>
                                                    <a href="{{ url_for('edita_reemb_adian', reg_insert=reg.id, navpills = 'navpills_2')}}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil color-muted m-r-5" style="margin:0 5px;"></i> </a>
                                                    <a href="{{ url_for('deletar_reemb_adian', id=reg.id)}}" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-close color-danger" style="margin:0 20px;"></i></a></span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
{% endblock %}