{% extends "template.html" %}
{% block conteudo %}

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Perfil de Usuárioo</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Perfil de Usuário</h4>
                    <div class="form-validation">
                      <form class="form-valide" action="{{ url_for('perfil_usuario_editar') }}" method="post">
                      <fieldset>
                        <a href="{{ url_for('perfil_usuario') }}" data-placement="top" title="Modo Lista" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-list" style="margin: 0 3px;"></i>Modo Lista</a>
                        <button type="submit" title="Gravar alterações" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-save"></i> Gravar</button>                                       
                        <br>
                        <br>
                        <ul class="nav nav-pills mb-3">
                            <li class="nav-item"><a href="#navpills-1" class="nav-link {% if navpills == 'navpills_1' %} active {% endif%}" data-toggle="tab" aria-expanded="false">Geral</a>
                            </li>
                            <li class="nav-item"><a href="#navpills-2" class="nav-link {% if navpills == 'navpills_2' %} active {% endif%}" data-toggle="tab" aria-expanded="false">Cadastros</a>
                            </li>
                            <li class="nav-item"><a href="#navpills-3" class="nav-link {% if navpills == 'navpills_3' %} active {% endif%}" data-toggle="tab" aria-expanded="true">Atendimentos</a>
                            </li>
                            <li class="nav-item"><a href="#navpills-4" class="nav-link {% if navpills == 'navpills_4' %} active {% endif%}" data-toggle="tab" aria-expanded="true">Usuários</a>
                            </li>
                        </ul>
                        <div class="tab-content br-n pn">
                          <div id="navpills-1" class="tab-pane {% if navpills == 'navpills_1' %} active {% endif%}">
                              <div class="row align-items-center">
                                  <div class="col-sm-6 col-md-8 col-xl-12">
                                  <div class="form-validation">
                                      <form class="form-valide" action="" method="post">
                                      <fieldset>
                                          <div class="d-md-flex align-items-center"><form novalidate="" class="ng-pristine ng-invalid ng-touched"><!----></form><div class="ml-auto"><div class="dl"><strong class="text-danger"> *</strong> Campos obrigatórios </div></div></div>
                                          <hr>
                                          <div class="col-lg-12">
                                              <div class="card">
                                                  <div class="card-body">
                                                    {% for reg in lista %}
                                                    <input type="hidden" name="id" value="{{reg.id}}">
                                                    <div class="basic-form">
                                                      <div class="row">
                                                        <div class="form-group col-md-2">
                                                          <label for="codigo_perfil">Código</label>
                                                          <input type="text" id="codigo_perfil" name="codigo_perfil" class="form-control" disabled value="{{reg.id}}">
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                        <div class="form-group col-md-4">
                                                          <label>Nome Perfil</label>
                                                          <strong class="text-danger ng-star-inserted"> *</strong>
                                                          <input type="text" id="nome_perfil" name="nome_perfil" class="form-control" value="{{reg.nome_perfil}}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                          <label for="aprovador">Aprovador?</label>
                                                          <strong class="text-danger ng-star-inserted"> *</strong>
                                                          <select id="aprovador" name="aprovador" class="form-control">
                                                            <option value="S" {% if reg.aprovador == "S" %}selected{% endif %}>Sim</option>
                                                            <option value="N" {% if reg.aprovador == "N" %}selected{% endif %}>Não</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  {% endfor %}
                                                  
                                                  </div>
                                              </div>
                                          </div>
                                      </fieldset>    
                                      </form>
                                  </div>
                                  </div>
                              </div>
                          </div>
                          <div id="navpills-2" class="tab-pane {% if navpills == 'navpills_2' %} active {% endif%}">
                              <div class="row align-items-center">
                                  <div class="col-sm-6 col-md-8 col-xl-12">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Tela</th>
                                          <th>Mostrar</th>
                                          <th>Incluir</th>
                                          <th>Editar</th>
                                          <th>Excluir</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for reg in perfil_usuario_det_cadastros %}
                                        <tr>
                                          <td>{{reg.tela}}</td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.mostrar == 'S' %}checked{% endif %} name="mostrar_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="mostrar_{{reg.id}}" value="N">
                                          </td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.incluir == 'S' %}checked{% endif %} name="incluir_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="incluir_{{reg.id}}" value="N">
                                          </td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.editar == 'S' %}checked{% endif %} name="editar_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="editar_{{reg.id}}" value="N">
                                          </td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.excluir == 'S' %}checked{% endif %} name="excluir_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="excluir_{{reg.id}}" value="N">
                                          </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                  </div>
                              </div>
                          </div>
                          <div id="navpills-3" class="tab-pane {% if navpills == 'navpills_3' %} active {% endif%}">
                              <div class="row align-items-center">
                                  <div class="col-sm-6 col-md-8 col-xl-12">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Tela</th>
                                          <th>Mostrar</th>
                                          <th>Incluir</th>
                                          <th>Editar</th>
                                          <th>Excluir</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for reg in perfil_usuario_det_atendimentos %}
                                        <tr>
                                          <td>{{reg.tela}}</td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.mostrar == 'S' %}checked{% endif %} name="mostrar_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="mostrar_{{reg.id}}" value="N">
                                          </td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.incluir == 'S' %}checked{% endif %} name="incluir_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="incluir_{{reg.id}}" value="N">
                                          </td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.editar == 'S' %}checked{% endif %} name="editar_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="editar_{{reg.id}}" value="N">
                                          </td>
                                          <td>
                                            <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                            <input type="checkbox" {% if reg.excluir == 'S' %}checked{% endif %} name="excluir_{{reg.id}}" value="S" onchange="atualizarForm()">
                                            <input type="hidden" name="excluir_{{reg.id}}" value="N">
                                          </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                  </table>
                                  </div>
                              </div>
                          </div>
                          <div id="navpills-4" class="tab-pane {% if navpills == 'navpills_4' %} active {% endif%}">
                            <div class="row align-items-center">
                                <div class="col-sm-6 col-md-8 col-xl-12">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Tela</th>
                                        <th>Mostrar</th>
                                        <th>Incluir</th>
                                        <th>Editar</th>
                                        <th>Excluir</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for reg in perfil_usuario_det_usuarios %}
                                      <tr>
                                        <td>{{reg.tela}}</td>
                                        <td>
                                          <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                          <input type="checkbox" {% if reg.mostrar == 'S' %}checked{% endif %} name="mostrar_{{reg.id}}" value="S" onchange="atualizarForm()">
                                          <input type="hidden" name="mostrar_{{reg.id}}" value="N">
                                        </td>
                                        <td>
                                          <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                          <input type="checkbox" {% if reg.incluir == 'S' %}checked{% endif %} name="incluir_{{reg.id}}" value="S" onchange="atualizarForm()">
                                          <input type="hidden" name="incluir_{{reg.id}}" value="N">
                                        </td>
                                        <td>
                                          <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                          <input type="checkbox" {% if reg.editar == 'S' %}checked{% endif %} name="editar_{{reg.id}}" value="S" onchange="atualizarForm()">
                                          <input type="hidden" name="editar_{{reg.id}}" value="N">
                                        </td>
                                        <td>
                                          <input type="hidden" name="id_det_{{reg.id}}" value="{{reg.id}}">
                                          <input type="checkbox" {% if reg.excluir == 'S' %}checked{% endif %} name="excluir_{{reg.id}}" value="S" onchange="atualizarForm()">
                                          <input type="hidden" name="excluir_{{reg.id}}" value="N">
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        </div>
                      </fieldset>
                      </form>
                    </div>         
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
        
{% endblock %}