{% extends "template.html" %}
{% block conteudo %}

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Editar Usuário</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Usuário</h4>
                    <div class="form-validation">
                      <form class="form-valide" action="{{ url_for('atualiza_usuario') }}" method="post" onsubmit="return validarSenhas()">
                      <fieldset>
                        <a href="{{ url_for('usuario') }}" data-placement="top" title="Modo Lista" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-list" style="margin: 0 3px;"></i>Modo Lista</a>
                        <button type="submit" title="Gravar alterações" class="btn waves-effect waves-light btn-sm btn-info" style="font-weight: bold;"><i class="fa fa-save"></i> Gravar</button>                                       
                        <br>
                        <br>
                          <div class="row align-items-center">
                              <div class="col-sm-6 col-md-8 col-xl-12">
                              <div class="form-validation">
                                  <form class="form-valide" action="" method="post">
                                  <fieldset>
                                      <div class="d-md-flex align-items-center"><form novalidate="" class="ng-pristine ng-invalid ng-touched"><!----></form><div class="ml-auto"><div class="dl"><strong class="text-danger"> *</strong> Campos obrigatórios </div></div></div>
                                      <hr>
                                      <div class="col-lg-12">
                                          <div class="card">
                                              <div class="card-body">
                                                <input type="hidden" name="id" value="">
                                                <div class="basic-form">
                                                  <div class="row">
                                                    {% for reg in lista %}
                                                    <input type="hidden" name="id_user" value="{{reg.id}}">
                                                    <div class="form-group col-md-2">
                                                      <label for="codigo_perfil">Código</label>
                                                      <input type="text" id="id" name="id" class="form-control" disabled value="{{reg.id}}">
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="form-group col-md-4">
                                                      <label>Login</label>
                                                      <strong class="text-danger ng-star-inserted"> *</strong>
                                                      <input type="text" id="login" name="login" class="form-control" disabled value="{{reg.login}}">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                      <label>Nome</label>
                                                      <strong class="text-danger ng-star-inserted"> *</strong>
                                                      <input type="text" id="nome" name="nome" class="form-control" disabled value="{{reg.nome}}">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                      <label for="id_perfil">Perfil de Usuário</label>
                                                      <strong class="text-danger ng-star-inserted"> *</strong>
                                                      <select id="id_perfil" name="id_perfil" class="form-control">
                                                        <option value="1" {% if reg.id_perfil == 1 %}selected{% endif %}>Admin</option>
                                                        <option value="2" {% if reg.id_perfil == 2 %}selected{% endif %}>Aprovador</option>
                                                        <option value="3" {% if reg.id_perfil == 3 %}selected{% endif %}>Consultor</option>
                                                        <option value="4" {% if reg.id_perfil == 4 %}selected{% endif %}>Desenvolvedor</option>
                                                      </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                      <label for="senha">Senha</label>
                                                      <input type="password" id="senha" name="senha" class="form-control" value="{{reg.senha}}">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                      <label for="confirmacao_senha">Confirme a Senha</label>
                                                      <input type="password" id="confirmacao_senha" name="confirmacao_senha" class="form-control" value="{{reg.senha}}">
                                                      <div class="text-danger" id="mensagemErro"></div>
                                                    </div>
                                                    {% endfor %}
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                      </fieldset>    
                                      </form>
                                  </div>
                                  </div>
                              </div>
                      </fieldset>
                      </form>
                    </div>         
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
        
{% endblock %}